.navbar-brand {
    font-family: 'Pacifico', cursive !important;
    font-size: 2rem !important;
}

.nav-link {
    font-family: 'Roboto Slab', serif !important;
}

.navbar-nav .nav-link {
    margin-top: 6px; /* Adjust value as needed */
}

.about {
    background: url('../images/pexels-emma-bauso-1183828-3585811.jpg') center center/cover no-repeat;
    color: #fff;
    padding: 220px 0;
    border-radius: 0;
    width: 100%;
}

.about h1 {
    font-size: 4rem; /* Increase this value as needed */
    
}

.about p {
    margin-top: 2rem; /* Adjust value as needed */
    font-size: 1.4rem; /* Adjust value as needed */
    
}

.comfy-font {
    font-family: 'Pacifico', cursive;
}

.organisations {
    background: #dee2e6; /* A bit more grey than #e9ecef */
    color: #23272b;
    padding-top: 40px;
    padding-bottom: 40px;
}
.organisations .card {
    background: #fff;
    color: #23272b;
}
