.navbar-brand {
    font-family: 'Pacifico', cursive !important;
    font-size: 2rem !important;
}

.nav-link {
    font-family: 'Roboto Slab', serif !important;
}

.about {
    background: url('../images/pexels-emma-bauso-1183828-3585811.jpg') center center/cover no-repeat;
    color: #fff;
    padding: 80px 0;
    border-radius: 12px;
}
